html {
  font-size: 24px;
}

.newspaper {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  max-width: 700px;
  margin: 40px auto;
}

.name {
  font-size: 2rem;
  font-family: "Times New Roman", serif;
  text-transform: uppercase;
}

.date {
  margin-bottom: 20px;
}

.headline {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.sub-headline {
  font-size: 1.5em;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 15px;
}

.author {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.text {
  text-indent: 20px;
  line-height: 2em;
  margin-bottom: 15px;
}

.text::first-letter {
  font-size: 2em;
Remember to add this part:

.text::first-letter {
  font-size: 2em;
  font-weight: bold;
}
