body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
}


label {
  display: block;
  margin: 5px 0;
  color: #374151;
}



.form-container {
  background-color: white;
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  margin: 40px auto;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

button {
  background-color: #2563eb;
  font-size: 16px;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #1e40af;
}
