body {
  padding-top: 50px;
  padding-bottom: 50px;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  width: 90vw;

  min-height: calc(100vh - 100px);

  font-family: Arial, sans-serif;
  text-align: center;
}


header img {
  width: 100%;
  max-width: 600px;
}

hr {
  width: 80%;
  margin: 30px auto;
}

section {
  width: 80%;
  margin: 20px auto;
}
